@CHARSET "UTF-8";

div.messages{
	position: absolute;
	color:#ff0000;
	top:190px;
}

div.commenterrorMessages{
	position: absolute;
	color:#ff0000;
	top:190px;
}
div.powermessages{
	position: absolute;
	color:#ff0000;
	top:190px;
}

div.narrowMessages{
	position: absolute;
	color:#ff0000;
	top:190px;
}


div.profile{
 	color:#ffffff;
}

a:link{
	color:#ffffff;
	text-decoration:underline;
}

div.signupcontent{
	background-color:#d4d4d4
	text-indent: 4em;
	margin-left:1em;text-indent:-1em;
}

a:visited{
	color:#ffffff;

	text-decoration:underline;
}

div.logout{
	float:right;
}

/* ヘッダーの固定 */
div.header-fixed{
    position: fixed;            /* ヘッダーの固定 */
    top: 0px;                   /* 位置(上0px) */
    left: 0px;                  /* 位置(右0px) */
    width: 100%;                /* 横幅100%　*/
    height: 170px;              /* 縦幅140px */
}

div.header-bk {
	background-color:#444;
	padding:10px 0 20px;       /* 上10px、下20pxをあける */
	height:160px;              /* 縦の高さ110px */
	width:100%;                /* 横の幅を100% */
}

/* div.header { */
/* 	border: 3px solid #808080; */
/* 	height: 100%;              縦の表示領域はheader-bkと同じ */
/* 	width: 960px;              横の幅970px */
/* 	margin: auto;              中央揃え */
/* } */

.main-contents{
	font-size:17px;
	margin-left: 30px;
	margin-right: 60px;
	background-color :#c0c0c0

}
.search{
	font-size:17px;
	background-color:#d4d4d4
}
.contribute{
	font-size:15px;
	margin-top:200px;
	margin-left:40px;
	margin-right:100px;
	background-color:#eceaf4
}
pre{
	white-space: pre-wrap ;
}
.comment{
	background-color:#ceeec4
}

.text{
	white-space: pre-wrap ;
}

